@import '../../styles/main';

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  @include on-desktop {
    flex-direction: row;
    gap: 48px;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    max-width: $container-width;

    @include on-wide-screen {
      max-width: none;
    }
  }

  &__visual {
    position: relative;
    padding-bottom: 100%;
    border-radius: 12px;
    background-color: lighten($color: $background-dark, $amount: 6.1);

    @include on-light-theme {
      background-color: darken($color: $background-light, $amount: 6.1);
    }
  }

  &__detail {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 6px 12px;
    border-radius: 50px;
    background-color: $background-dark;
    color: $color-white;
    user-select: none;

    @include on-desktop {
      top: 16px;
      left: 16px;
      padding: 8px 16px;
    }

    @include on-light-theme {
      background-color: $background-light;
      color: $color-black;
    }
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    border-radius: 12px;
    transform: translate(-50%, -50%);
  }

  &__name {
    @extend %h3;

    margin-bottom: 16px;
  }

  &__description {
    @extend %p;

    margin-bottom: 32px;
  }

  &__info {
    margin-bottom: 40px;

    @include on-desktop {
      margin-bottom: 48px;
    }

    &-title {
      @extend %h4;

      margin-bottom: 16px;
    }

    &-entry {
      display: flex;
      justify-content: space-between;
      padding-block: 16px;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;

      ::first-letter {
        text-transform: uppercase;
      }

      &-name {
        color: $color-white;

        @include on-light-theme {
          color: $color-black;
        }
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 12px 24px;

    @include on-tablet {
      flex-direction: row;
    }
  }
}
