h1,
h2 {
  font-family: 'Bebas Neue', sans-serif;
  color: $color-white;

  @include on-light-theme {
    color: $color-black;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

::selection {
  background-color: $color-lemon;
  color: $color-black;
}

::-moz-selection {
  background-color: $color-lemon;
  color: $color-black;
}
