$color-black: #0a0a0a;
$color-white: #fff;
$color-white-background: #fcfcf3;
$color-grey-light: #c7c7c7;
$color-grey-dark: #373737;
$color-grey-intense: #484848;
$color-lemon: #d3e97a;
$background-dark: $color-black;
$background-light: $color-white-background;
$media-wide-screen: 1280px;
$media-desktop: 1024px;
$media-tablet: 768px;
$container-width: 500px;
