@import '../../styles/main';

.main-button {
  position: relative;
  padding: 16px 56px 14px 18px;
  font-weight: 700;
  font-size: 14px;
  border: none;
  border-radius: 50px;
  background-color: $color-lemon;
  color: $color-black;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-out;

  &::after {
    content: "●";
    position: absolute;
    right: 22px;
    transform: translateY(-5px);
    font-size: 20px;
  }

  &:hover {
    box-shadow: 0px 0px 5px 1px $color-lemon;
  }

  @include on-desktop {
    font-size: 16px;

    &::after {
      right: 20px;
      font-size: 26px;
      transform: translateY(-8px);
    }
  }
}
