@import '../../styles/main';

.link {
  display: inline-block;
  width: fit-content;
  padding: 8px 18px 15px 0;
  border-radius: 50px;

  @include on-light-theme {
    padding: 8px 18px 15px;
    background-color: $color-grey-intense;
  }

  &__name {
    padding-right: 24px;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    border-bottom: 2px solid $color-lemon;
    color: $color-lemon;
    text-transform: uppercase;

    &::after {
      content: '';
      position: absolute;
      height: 22px;
      width: 22px;
      margin-left: 4px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      @include on-desktop {
        height: 24px;
        width: 24px;
      }
    }

    @include on-desktop {
      font-size: 16px;
    }

    &--project {
      &::after {
        background-image: url(../../assets/images/arrow.svg);
      }
    }

    &--github {
      &::after {
        background-image: url(../../assets/images/github.svg);
      }
    }
  }
}
